#if ( ${KEY_TYPE} == "Int" )
#set ( $KEY_TYPE = "int" )
#elseif ( ${KEY_TYPE} == "Long" )
#set ( $KEY_TYPE = "long" )
#end
#if ( ${KEY_TYPE} == "int" )
    #set ( $__dont_fill_in_key_hashcode       = "key" )
    #set ( $__dont_fill_in_key_name           = "Int" )
    #set ( $__dont_fill_in_key_holder_name    = "Int" )
    #set ( $__dont_fill_in_key_visitor_name   = "Int" )
#elseif ( ${KEY_TYPE} == "long" )
    #set ( $__dont_fill_in_key_hashcode       = "key" )
    #set ( $__dont_fill_in_key_name           = "Long" )
    #set ( $__dont_fill_in_key_holder_name    = "Long" )
    #set ( $__dont_fill_in_key_visitor_name   = "Long" )
#else
    #set ( $__dont_fill_in_key_hashcode       = "key.hashCode()" )
    #set ( $__dont_fill_in_key_name           = "${KEY_TYPE}" )
    #set ( $__dont_fill_in_key_holder_name    = "Object" )
    #set ( $__dont_fill_in_key_visitor_name   = "Object" )
#end
#set ( $VALUE_TYPE = "int" )
#set ( $__dont_fill_in_value_name         = "Int" )
#set ( $__dont_fill_in_value_holder_name  = "Int" )
#set ( $__dont_fill_in_value_visitor_name = "Int" )
#set ( $__dont_fill_in_value_equality     = "if (local_values[keyIndex] == value)" )
#set ( $__dont_fill_in_visitor = "${__dont_fill_in_key_visitor_name}${__dont_fill_in_value_visitor_name}VisitorIF" )
#set ( $__dont_fill_in_class_name  = "${__dont_fill_in_key_name}ReferenceCountMap" )
package com.cboe.client.util.collections;

/**
 * ${__dont_fill_in_class_name}.java
 *
 * @author Dmitry Volpyansky
 *
 * FILE GENERATED BY VELOCITY TEMPLATE ENGINE FROM /vobs/dte/client/generator/DV_XReferenceCountMap.java (KEY_TYPE=${KEY_TYPE})
 *
 */

import com.cboe.client.util.*;

public class ${__dont_fill_in_class_name} implements HasSizeIF
{
    protected ${KEY_TYPE}[][] keys;
    protected ${VALUE_TYPE}[][] values;
    protected int[]        sizes;
    protected int          tableHighestIndex;
    protected volatile int size;

    public static final int DEFAULT_INITIAL_CAPACITY       = 256;
    public static final int DEFAULT_ENTRY_LIST_CAPACITY    = 16;
    public static final int MAXIMUM_CAPACITY               = 1024 * 16;

    public static final ${__dont_fill_in_class_name} unsynchronizedMap()             {return new ${__dont_fill_in_class_name}();}
    public static final ${__dont_fill_in_class_name} unsynchronizedMap(int capacity) {return new ${__dont_fill_in_class_name}(capacity);}
    public static final ${__dont_fill_in_class_name} synchronizedMap()               {return new ${__dont_fill_in_class_name}MT();}
    public static final ${__dont_fill_in_class_name} synchronizedMap(int capacity)   {return new ${__dont_fill_in_class_name}MT(capacity);}

    public static class ${__dont_fill_in_class_name}MT extends ${__dont_fill_in_class_name}
    {
        public ${__dont_fill_in_class_name}MT()
        {
            super();
        }
        public ${__dont_fill_in_class_name}MT(int capacity)
        {
            super(capacity);
        }
        public ${__dont_fill_in_class_name}MT(${__dont_fill_in_class_name} map)
        {
            super(map);
        }
        public synchronized boolean containsKey(${KEY_TYPE} key)
        {
            return super.containsKey(key);
        }
        public synchronized ${VALUE_TYPE} getValueForKey(${KEY_TYPE} key)
        {
            return super.getValueForKey(key);
        }
        public synchronized void incKeyValue(${KEY_TYPE} key, int value)
        {
            super.incKeyValue(key, value);
        }
        public synchronized void decKeyValuePositive(${KEY_TYPE} key, int value)
        {
            super.decKeyValuePositive(key, value);
        }
        public synchronized void getData(${__dont_fill_in_key_holder_name}${__dont_fill_in_value_holder_name}ArrayHolderIF arrayHolder)
        {
            super.getData(arrayHolder);
        }
        public synchronized void putKeyValue(${KEY_TYPE} key, ${VALUE_TYPE} value)
        {
            super.putKeyValue(key, value);
        }
        public synchronized ${VALUE_TYPE} removeKey(${KEY_TYPE} key)
        {
            return super.removeKey(key);
        }
        public synchronized ${__dont_fill_in_visitor} acceptVisitor(${__dont_fill_in_visitor} visitor)
        {
            return super.acceptVisitor(visitor);
        }
        public synchronized ${__dont_fill_in_class_name} clear()
        {
            return super.clear();
        }
        public synchronized ${__dont_fill_in_class_name} clear(${__dont_fill_in_key_holder_name}${__dont_fill_in_value_holder_name}ArrayHolderIF arrayHolder)
        {
            return super.clear(arrayHolder);
        }
    };

    public ${__dont_fill_in_class_name}()
    {
        this(DEFAULT_INITIAL_CAPACITY);
    }

    public ${__dont_fill_in_class_name}(int capacity)
    {
        if (capacity < 2)
        {
            capacity = DEFAULT_INITIAL_CAPACITY;
        }
        else if (capacity > MAXIMUM_CAPACITY)
        {
            capacity = MAXIMUM_CAPACITY;
        }
        else
        {
            capacity = IntegerHelper.higherPowerOf2(capacity);
        }

        keys              = new ${KEY_TYPE}[capacity][];
        values            = new ${VALUE_TYPE}[capacity][];
        sizes             = new int[capacity];
        tableHighestIndex = capacity - 1;
    }

    public ${__dont_fill_in_class_name}(${__dont_fill_in_class_name} map)
    {
        synchronized(map)
        {
            sizes             = CollectionHelper.arrayclone(map.sizes);
            keys              = CollectionHelper.arraycloneDimensions(map.keys);
            values            = CollectionHelper.arraycloneDimensions(map.values);
            size              = map.size;
            tableHighestIndex = map.tableHighestIndex;
        }
    }

    public int size()
    {
        return size;
    }

    public boolean isEmpty()
    {
        return size == 0;
    }

    public boolean containsKey(${KEY_TYPE} key)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (sizes[bucketIndex] > 0)
        {
#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
            return CollectionHelper.binarySearch(keys[bucketIndex], key, sizes[bucketIndex]) >= 0;
#else
            ${KEY_TYPE}[] local_keys = keys[bucketIndex];

            for (int keyIndex = sizes[bucketIndex]; --keyIndex >= 0; )
            {
                if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
                {
                    return true;
                }
            }
#end
        }

        return false;
    }

    public ${VALUE_TYPE} getValueForKey(${KEY_TYPE} key)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (sizes[bucketIndex] > 0)
        {
#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
            int keyIndex = CollectionHelper.binarySearch(keys[bucketIndex], key, sizes[bucketIndex]);
            if (keyIndex >= 0)
            {
                return values[bucketIndex][keyIndex];
            }
#else
            ${KEY_TYPE}[] local_keys = keys[bucketIndex];

            for (int keyIndex = sizes[bucketIndex]; --keyIndex >= 0; )
            {
                if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
                {
                    return values[bucketIndex][keyIndex];
                }
            }
#end
        }

        return 0;
    }

    public void incKeyValue(${KEY_TYPE} key)
    {
        incKeyValue(key, 1);
    }

    public void incKeyValue(${KEY_TYPE} key, int value)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (keys[bucketIndex] == null)
        {
            keys[bucketIndex]      = new ${KEY_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            values[bucketIndex]    = new ${VALUE_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            keys[bucketIndex][0]   = key;
            values[bucketIndex][0] = value;
            sizes[bucketIndex]     = 1;
            size++;

            return;
        }

        int keyIndex;
        ${KEY_TYPE}[] local_keys = keys[bucketIndex];
        ${VALUE_TYPE}[] local_values = values[bucketIndex];
        int local_size = sizes[bucketIndex];

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.binarySearch(local_keys, key, local_size);
        if (keyIndex >= 0)
        {
            values[bucketIndex][keyIndex] += value;
            return;
	    }
#else
        for (keyIndex = 0; keyIndex < local_size; keyIndex++)
        {
            if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
            {
                values[bucketIndex][keyIndex] += value;
                return;
            }
        }
#end

        // if we got here, this is completely new

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.normalizeBinarySearchPosition(keyIndex);
#end
        if (local_size >= local_keys.length) // need to expand
        {
            if (keyIndex == local_size) // if at end, then just arrayclone, and append later
            {
                keys[bucketIndex]   = CollectionHelper.arrayclone(local_keys,   0, local_keys.length, local_keys.length << 1);
                values[bucketIndex] = CollectionHelper.arrayclone(local_values, 0, local_keys.length, local_keys.length << 1);
            }
            else
            {
                keys[bucketIndex]   = CollectionHelper.arraycloneExpandGap(local_keys,   0, local_keys.length, local_keys.length << 1, keyIndex, 1);
                values[bucketIndex] = CollectionHelper.arraycloneExpandGap(local_values, 0, local_keys.length, local_keys.length << 1, keyIndex, 1);
            }
        }
        else
        {
            if (keyIndex < local_size)
            {
                System.arraycopy(local_values, keyIndex, local_values, keyIndex + 1, local_size - keyIndex);
                System.arraycopy(local_keys,   keyIndex, local_keys,   keyIndex + 1, local_size - keyIndex);
            }
        }

        keys[bucketIndex][keyIndex]   = key;
        values[bucketIndex][keyIndex] = value;

        sizes[bucketIndex]++;
        size++;
    }

    public void decKeyValue(${KEY_TYPE} key)
    {
        incKeyValue(key, -1);
    }

    public void decKeyValue(${KEY_TYPE} key, int value)
    {
        incKeyValue(key, -value);
    }

    public void decKeyValuePositive(${KEY_TYPE} key)
    {
        decKeyValuePositive(key, 1);
    }

    public void decKeyValuePositive(${KEY_TYPE} key, int value)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (keys[bucketIndex] == null)
        {
            keys[bucketIndex]      = new ${KEY_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            values[bucketIndex]    = new ${VALUE_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            keys[bucketIndex][0]   = key;
            values[bucketIndex][0] = 0;
            sizes[bucketIndex]     = 1;
            size++;

            return;
        }

        int keyIndex;
        ${KEY_TYPE}[] local_keys = keys[bucketIndex];
        ${VALUE_TYPE}[] local_values = values[bucketIndex];
        int local_size = sizes[bucketIndex];

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.binarySearch(local_keys, key, local_size);
        if (keyIndex >= 0)
        {
            values[bucketIndex][keyIndex] -= value;
            if (values[bucketIndex][keyIndex] < 0)
            {
                values[bucketIndex][keyIndex] = 0;
            }
            return;
	    }
#else
        for (keyIndex = 0; keyIndex < local_size; keyIndex++)
        {
            if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
            {
                values[bucketIndex][keyIndex] -= value;
                if (values[bucketIndex][keyIndex] < 0)
                {
                    values[bucketIndex][keyIndex] = 0;
                }
                return;
            }
        }
#end

        // if we got here, this is completely new

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.normalizeBinarySearchPosition(keyIndex);
#end
        if (local_size >= local_keys.length) // need to expand
        {
            if (keyIndex == local_size) // if at end, then just arrayclone, and append later
            {
                keys[bucketIndex]   = CollectionHelper.arrayclone(local_keys,   0, local_keys.length, local_keys.length << 1);
                values[bucketIndex] = CollectionHelper.arrayclone(local_values, 0, local_keys.length, local_keys.length << 1);
            }
            else
            {
                keys[bucketIndex]   = CollectionHelper.arraycloneExpandGap(local_keys,   0, local_keys.length, local_keys.length << 1, keyIndex, 1);
                values[bucketIndex] = CollectionHelper.arraycloneExpandGap(local_values, 0, local_keys.length, local_keys.length << 1, keyIndex, 1);
            }
        }
        else
        {
            if (keyIndex < local_size)
            {
                System.arraycopy(local_values, keyIndex, local_values, keyIndex + 1, local_size - keyIndex);
                System.arraycopy(local_keys,   keyIndex, local_keys,   keyIndex + 1, local_size - keyIndex);
            }
        }

        keys[bucketIndex][keyIndex]   = key;
        values[bucketIndex][keyIndex] = 0;

        sizes[bucketIndex]++;
        size++;
    }

    public void getData(${__dont_fill_in_key_holder_name}${__dont_fill_in_value_holder_name}ArrayHolderIF arrayHolder)
    {
        int             bucketSize;
        int             keyIndex;
        ${KEY_TYPE}[]   local_keys;
        ${VALUE_TYPE}[] local_values;

        for (int bucketIndex = 0; bucketIndex < keys.length; bucketIndex++)
        {
            bucketSize = sizes[bucketIndex];

            if (bucketSize > 0)
            {
                local_values = values[bucketIndex];
                local_keys   = keys[bucketIndex];

                for (keyIndex = 0; keyIndex < bucketSize; keyIndex++)
                {
                    arrayHolder.add(local_keys[keyIndex], local_values[keyIndex]);
                }
            }
        }
    }

    public void putKeyValue(${KEY_TYPE} key, ${VALUE_TYPE} value)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (keys[bucketIndex] == null)
        {
            keys[bucketIndex]      = new ${KEY_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            values[bucketIndex]    = new ${VALUE_TYPE}[DEFAULT_ENTRY_LIST_CAPACITY];
            keys[bucketIndex][0]   = key;
            values[bucketIndex][0] = value;
            sizes[bucketIndex]     = 1;
            size++;

            return;
        }

        int keyIndex;
        ${KEY_TYPE}[] local_keys = keys[bucketIndex];
        ${VALUE_TYPE}[] local_values = values[bucketIndex];
        int local_size = sizes[bucketIndex];

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.binarySearch(local_keys, key, local_size);
        if (keyIndex >= 0)
        {
            values[bucketIndex][keyIndex] = value;
            return;
	    }
#else
        for (keyIndex = 0; keyIndex < local_size; keyIndex++)
        {
            if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
            {
                values[bucketIndex][keyIndex] = value;
                return;
            }
        }
#end

        // if we got here, this is completely new

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
        keyIndex = CollectionHelper.normalizeBinarySearchPosition(keyIndex);
#end
        if (local_size >= local_keys.length) // need to expand
        {
            if (keyIndex == local_size) // if at end, then just arrayclone, and append later
            {
                keys[bucketIndex]   = CollectionHelper.arrayclone(local_keys,   0, local_keys.length, local_keys.length << 1);
                values[bucketIndex] = CollectionHelper.arrayclone(local_values, 0, local_keys.length, local_keys.length << 1);
            }
            else
            {
                keys[bucketIndex]   = CollectionHelper.arraycloneExpandGap(local_keys,   0, local_keys.length, local_keys.length << 1, keyIndex, 1);
                values[bucketIndex] = CollectionHelper.arraycloneExpandGap(local_values, 0, local_keys.length, local_keys.length << 1, keyIndex, 1);
            }
        }
        else
        {
            if (keyIndex < local_size)
            {
                System.arraycopy(local_values, keyIndex, local_values, keyIndex + 1, local_size - keyIndex);
                System.arraycopy(local_keys,   keyIndex, local_keys,   keyIndex + 1, local_size - keyIndex);
            }
        }

        keys[bucketIndex][keyIndex]   = key;
        values[bucketIndex][keyIndex] = value;

        sizes[bucketIndex]++;
        size++;
    }

    public ${VALUE_TYPE} removeKey(${KEY_TYPE} key)
    {
        int bucketIndex = (int) (${__dont_fill_in_key_hashcode} & tableHighestIndex);

        if (sizes[bucketIndex] > 0)
        {
            int keyIndex;
            ${KEY_TYPE}[] local_keys = keys[bucketIndex];
            ${VALUE_TYPE}[] local_values = values[bucketIndex];
            int local_size = sizes[bucketIndex];

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
            keyIndex = CollectionHelper.binarySearch(local_keys, key, local_size);
            if (keyIndex >= 0)
            {
                ${VALUE_TYPE} oldValue = local_values[keyIndex];

                int highest_index = local_values.length - 1;

                if (keyIndex < highest_index)
                {
                    System.arraycopy(local_values, keyIndex + 1, local_values, keyIndex, highest_index - keyIndex);
                    System.arraycopy(local_keys,   keyIndex + 1, local_keys,   keyIndex, highest_index - keyIndex);
                }

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
                local_keys[highest_index]   = 0;
#else
                local_keys[highest_index]   = null;
#end
#if ( ${VALUE_TYPE} == "int" || ${VALUE_TYPE} == "long" )
                local_values[highest_index] = 0;
#else
                local_values[highest_index] = null;
#end

                sizes[bucketIndex]--;
                size--;

                return oldValue;
	        }
#else
            for (keyIndex = 0; keyIndex < local_size; keyIndex++)
            {
                if (key == local_keys[keyIndex] || key.equals(local_keys[keyIndex]))
                {
                    ${VALUE_TYPE} oldValue = local_values[keyIndex];

                    int highest_index = local_values.length - 1;

                    if (keyIndex < highest_index)
                    {
                        System.arraycopy(local_values, keyIndex + 1, local_values, keyIndex, highest_index - keyIndex);
                        System.arraycopy(local_keys,   keyIndex + 1, local_keys,   keyIndex, highest_index - keyIndex);
                    }

#if ( ${KEY_TYPE} == "int" || ${KEY_TYPE} == "long" )
                    local_keys[highest_index]   = 0;
#else
                    local_keys[highest_index]   = null;
#end
#if ( ${VALUE_TYPE} == "int" || ${VALUE_TYPE} == "long" )
                    local_values[highest_index] = 0;
#else
                    local_values[highest_index] = null;
#end

                    sizes[bucketIndex]--;
                    size--;

                    return oldValue;
                }
            }
#end
        }

        return 0;
    }

    public ${__dont_fill_in_visitor} acceptVisitor(${__dont_fill_in_visitor} visitor)
    {
        int             bucketSize;
        int             keyIndex;
        int             rc;
        ${KEY_TYPE}[]   local_keys;
        ${VALUE_TYPE}[] local_values;

        for (int bucketIndex = 0; bucketIndex < keys.length; bucketIndex++)
        {
            bucketSize = sizes[bucketIndex];

            local_keys = keys[bucketIndex];

            if (bucketSize > 0)
            {
                local_values = values[bucketIndex];

                for (keyIndex = 0; keyIndex < bucketSize; keyIndex++)
                {
                    rc = visitor.visit(local_keys[keyIndex], local_values[keyIndex]);

                    if (rc == ${__dont_fill_in_visitor}.CONTINUE)
                    {
                        continue;
                    }

                    if (rc == ${__dont_fill_in_visitor}.ABORT)
                    {
                         return visitor;
                    }
                }
            }
        }

        return visitor;
    }

    public ${__dont_fill_in_class_name} clear()
    {
        for (int bucketIndex = keys.length; --bucketIndex >= 0; )
        {
            keys[bucketIndex]   = null;
            values[bucketIndex] = null;
            sizes[bucketIndex]  = 0;
        }

        size = 0;

        return this;
    }

    public ${__dont_fill_in_class_name} clear(${__dont_fill_in_key_holder_name}${__dont_fill_in_value_holder_name}ArrayHolderIF arrayHolder)
    {
        getData(arrayHolder);

        for (int bucketIndex = keys.length; --bucketIndex >= 0; )
        {
            keys[bucketIndex]   = null;
            values[bucketIndex] = null;
            sizes[bucketIndex]  = 0;
        }

        size = 0;

        return this;
    }
}
